.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between; /*serve para distribuir o espaço sobrando entre os itens.
                                    Utilizamos o margin para criar espaço entre os itens. */
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 30%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
} 

.rodapePrincipal-navMap-list {
    display: flex; 
    /* flex-direction: column; o flex por padrão é 'row' que coloca ao lado/horizontal. Ao definir como 'column' você alinha os itens na vertical
    flex-wrap: wrap; esta função quebra a linha e vai para a próxima coluna ao chegar na altura máxima. */
    flex-flow: column wrap; /*faz de uma vez só a função dos 2 comentados*/
    height: 252px; /*definindo a altura desta nav*/
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin-bottom: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}